@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.shadow div{
    width: 200px;
    height: 200px;
    background-color:#cafda8;
    margin: 20px;
}
.shadow div:nth-of-type(1){
    box-shadow: 10px 40px 20px rgba(255, 133, 208, 0.692); /* 그림자 : x축 y축 블러 색상 */
}
.shadow div:nth-of-type(2){
    box-shadow: -10px -20px 10px rgba(44, 121, 236, 0.637); /* - 값도 적용 가능 */
}
.shadow div:nth-of-type(3){
    box-shadow: 5px 5px 10px rgb(0, 153, 255), /* 그림자 여러개 적용 */
    20px 20px 10px rgba(255, 133, 208, 0.692),
    -10px -10px 10px rgba(44, 121, 236, 0.637);
}
.shadow div:nth-of-type(4){
    box-shadow: inset 20px 20px 40px rgb(57, 218, 204); /* inset 안쪽 그림자 적용 */
}
.shadow div:nth-of-type(5){
    box-shadow: 0 0 40px rgba(0, 195, 255, 0.692); /* 양방향 적용 */
}