@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.image img{
    width: 500px;
}
.svg_image svg:hover path{
    fill: deeppink;
}
.svg_image-02{
    position: relative;
}
.svg_image-02 p{
    width: 50px;
    height: 50px;
    background-color: #00ff6a;
    border-radius:  50%;
    position: absolute;
    left: 0;
    top: 0;
    offset: path('M39.0786 187.423C44.2461 191.173 50.2455 192.983 56.2011 192.983C65.164 192.983 74.0095 188.883 79.7023 181.177C79.7186 181.161 79.734 181.144 79.7486 181.126C79.7623 181.108 79.7761 181.09 79.789 181.072L79.8087 181.043C79.8224 181.024 79.8353 181.006 79.8482 180.988L99.9924 153.306L120.137 180.988C120.156 181.018 120.177 181.041 120.197 181.066C120.206 181.079 120.215 181.091 120.224 181.104C129.713 194.019 147.944 196.864 160.921 187.437C173.913 178.011 176.817 159.785 167.446 146.769L167.425 146.737C167.408 146.709 167.394 146.688 167.373 146.667L147.272 118.97L179.839 108.377C195.137 103.401 203.545 86.8971 198.567 71.6038C193.59 56.3114 177.095 47.9063 161.782 52.8677L129.217 63.418L129.202 29.1699C129.186 13.0892 116.093 0 100.007 0C83.9211 0 70.8276 13.0892 70.813 29.1845L70.7838 63.4035L38.2175 52.8531C38.2046 52.8531 38.1889 52.8502 38.1731 52.8458C38.1526 52.8403 38.1315 52.832 38.1151 52.8239C22.8319 47.9209 6.39552 56.3259 1.4325 71.5901C-3.53059 86.8534 4.81912 103.299 20.0439 108.318C20.0579 108.323 20.0706 108.328 20.0827 108.333L20.1363 108.354L20.1608 108.362L52.7123 118.956L32.612 146.652C32.6047 146.667 32.5938 146.682 32.5829 146.696C32.5719 146.711 32.5611 146.725 32.5538 146.74C23.1677 159.756 26.0871 177.996 39.0786 187.423Z');
    
    animation:  svgImage 5s infinite linear;
}

@keyframes svgImage {
    0%{
        offset-distance: 0; /* 오프셋이 가지고 있는 거리  */
    }
    100%{
        offset-distance: 100%;
    }
}


.svg_image-03{
    position: relative;
}
.svg_image-03 p{
    width: 50px;
    height: 50px;
    background-color: #4c00ff;
    border-radius:  50%;
    position: absolute;
    left: 0;
    top: 0;
    offset: path('M157.776 31.5779C128.565 33.0833 120.551 7.45872 95.9412 1.45946C69.7324 -4.93241 57.9033 10.9703 55.1023 23.9727C52.9432 33.9958 48.4049 38.3465 36.4439 41.1335C27.9186 42.6983 20.3644 47.131 22.343 59.2897C24.3217 71.4485 20.3111 78.7084 14.3408 83.0577C8.37048 87.408 2.80038 93.5834 0.84131 101.629C-2.47689 115.247 4.26857 129.512 16.7007 135.836C30.6711 142.792 38.1741 150.406 37.1928 166.198C36.9476 170.145 38.5938 191.145 58.5682 184.797C63.613 183.194 84.4823 172.383 97.1468 192.448C100.3 197.445 108.109 202.361 115.244 204.103C134.379 208.768 153.942 194.655 155.884 175.222C157.992 160.844 160.606 154.101 176.142 159.123C191.514 164.093 200.712 142.686 192.111 131.704C180.174 119.327 194.418 97.0677 198.942 78.4942C205.125 53.1064 183.274 28.813 157.776 31.5779Z');
    animation:  svgImage 5s infinite linear;
}