@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.box{
    width: 300px;

}
.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.box .box_btn{
    width: 100%;
    height: 50px;
    border: 1px solid #00aeff;
    background-color: #70eaffd7;
    color: #333;
}
.section{
    width: 300px;
}
.section img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.section .section_btn{
    width: 100%;
    height: 50px;
    border: 1px solid #333;
}