@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #fff;
}
.mode_btn{
    width: 100px;
    height: 100px;
    background-color: #18c9ff;
    border-radius: 50%;
    border: 1px solid #00ccff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}